# Datasets
/datasets/*/*
!/datasets/*/process.py
!/datasets/*/process_transcripts.py
!/datasets/*/corpus.yaml

# Misc. project related

# Python related
.venv
.ipynb_checkpoints
*.egg-info
/build
/dist
/docs/_build
__pycache__
.mypy_cache

# NumPy
*.npy
*.npz

# TensorFlow
*.ckpt
*.h5

# PyTorch
*.pt

# Misc general
.vscode
desktop.ini
nohup*.out
*.log
