# Datasets
/datasets/*
!/datasets/crema-d
!/datasets/emodb
!/datasets/iemocap
!/datasets/msp-improv
!/datasets/semaine
!/datasets/smartkom

/datasets/crema-d/*
!/datasets/crema-d/preprocess.py

/datasets/emodb/*
!/datasets/emodb/process_transcripts.py

/datasets/iemocap/*
!/datasets/iemocap/preprocess.py
!/datasets/iemocap/process_transcripts.py

/datasets/msp-improv/*
!/datasets/msp-improv/preprocess.py

/datasets/semaine/*
!/datasets/semaine/preprocess.py
!/datasets/semaine/extract_turns.py

/datasets/smartkom/*
!/datasets/smartkom/preprocess.py

# Misc
/audeep
/results
/todo.sh
/logs
/docker
scripts/test.py

# Python related
__pycache__
build
venv
.venv
*.egg-info

# Misc
.vscode
.ipynb_checkpoints
smile.log
desktop.ini
