# Datasets
/datasets/*
!/datasets/metadata_schema.json
!/datasets/README.md

!/datasets/crema-d
/datasets/crema-d/*
!/datasets/crema-d/process.py

!/datasets/emodb
/datasets/emodb/*
!/datasets/emodb/process_transcripts.py

!/datasets/iemocap
/datasets/iemocap/*
!/datasets/iemocap/process.py
!/datasets/iemocap/process_transcripts.py

!/datasets/msp-improv
/datasets/msp-improv/*
!/datasets/msp-improv/process.py

!/datasets/semaine
/datasets/semaine/*
!/datasets/semaine/process.py
!/datasets/semaine/extract_turns.py

!/datasets/smartkom
/datasets/smartkom/*
!/datasets/smartkom/process.py

# Misc. project related
/logs
/output
/results
/env.sh
/todo.sh
tmp
smile.log

# Python related
.venv
.ipynb_checkpoints
*.egg-info
__pycache__

# Misc general
.vscode
desktop.ini
