click>=8.0.0
click-option-group
importlib_metadata
importlib_resources
joblib
liac-arff
liblinear-official
librosa
matplotlib>=3.0.0
netCDF4
numpy
omegaconf>=2.1
pandas>=1.4.0
pytorch_lightning
seaborn
scikit-learn
scipy
soundfile
statsmodels
tensorflow ~= 2.17.0
torch ~= 2.3.1
torchaudio ~= 2.3.1
tqdm
