click
click-option-group
git+https://github.com/pytorch/fairseq.git#5fd38e3d5b1e5163aeace2a43d4a481fbbf1d83e
joblib
liac-arff
librosa
matplotlib>=3.0.0
netCDF4
nltk
numpy
Orange3
pandas>=1.0.0
seaborn
scikeras
scipy
soundfile
statsmodels
tensorflow>=2.3
tf-slim
torch
tqdm
