flake8
tensorflow>=2.2
tensorflow-probability
tensorflow-datasets
tensorboard
tensorboard_plugin_profile
numpy
pandas>=1.0.0
matplotlib>=3.0.0
scipy
liac-arff
tqdm
jupyterlab
jupyter_http_over_ws
ipywidgets
librosa
PyWave
autopep8
netCDF4
nltk
